@font-face {
	font-family: "helvetFont";
	src: url('../../public/fonts/FreeSans.ttf');
}
body {
  margin: 0;
  font-family: 'helvetFont', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(13, 13, 13);
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: none;
}
