.row {
  padding-left: 4%;
  margin-bottom: 2rem;
  position: relative;
  top: -8rem;
  width: 100%;
  &-btns-scroll {
    font-size: 3rem;
  }
  &-btn1 {
    opacity: 0;
    position: absolute;
    color: rgba(255, 255, 255, 0.742);
    padding: 0.5rem;
    // background-color: rgba(79, 77, 77, 0.649);
    border-radius: 0 10px 10px 0;
    left: 4%;
    top: 56%;
    transform: translateY(-35%);
    font-size: 3.5rem;
    z-index: 30;
    @media all and (orientation: portrait) {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  &-btn2 {
    position: absolute;
    color: rgba(255, 255, 255, 0.742);
    padding: 0.5rem;
    border-radius: 10px 0 0 10px;
    right: 0;
    top: 56%;
    font-size: 3.5rem;
    transform: translateY(-35%);
    opacity: 0;
    @media all and (orientation: portrait) {
      display: none;
    }
    &:hover {
        opacity: 1;
    }
  }

  &-categorie {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }
  &-imgs {
    display: flex;
    overflow-x: hidden;
  }
  &-img {
    width: 220px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 0.3rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: scale(1.04);
    }
  }
  ::-webkit-scrollbar {
    -webkit-apperance: none;
    background-color: rgb(13, 13, 13);
  }
}
